.sources {
    display: flex;
    max-height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #000000;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #f24aa4;
    transition: 0.25s;
    border-radius: 0.3rem;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #202020cc;
    background-color: #2d2929;
    color: #f24aa4;
    transform: scale(1.05);
}

.source__item:active {
    border-color: #202020e6;
    background-color: #2d2929;
    color: #f24aa4;
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
